# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Archivos de configuración local (IMPORTANTE: Esto evita errores entre equipos)
.gradle/
.idea/
*.iml
*.lock
android/.gradle
android/app/build/
android/build/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db